@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'A1 Mincho';
  src: url('../public/fonts/A1MinchoStdN-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: black;
}